main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#table-tic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    height: 50%;

}
#cell1{
    border-bottom-style: solid;
    border-right-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell2{
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell3{
    border-left-style: solid;
    border-bottom-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell4{
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell5{
    border:solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell6{
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell7{
    border-top-style: solid;
    border-right-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell8{
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#cell9{
    border-top-style: solid;
    border-left-style: solid;
    padding:30px;
    text-align: center;
    font-size: 2rem;
}
#lbl-winner{
    font-size: 3rem;
}
#reset{
    font-size: 1rem;
    padding: 7px 10px;
    border-radius: 5px;
}